{% extends "base_generic.html" %}

{% block content %}
  <h1>Departure: {{ path_offer.departure}}</h1>

  <p><strong>Arrive:</strong>{{ path_offer.arrive}}</p>
  <p><strong>Date of departure:</strong> {{ path_offer.data_partenza}}</p>
  <p><strong>Date of arrive:</strong> {{ path_offer.data_arrivo}}</p>
  <p><strong>Departure's time:</strong> {{path_offer.ora_partenza}}</p>
  <p><strong>Arrive's time:</strong> {{path_offer.ora_arrivo}}</p>
<p><strong>Booked:</strong>{{ path_offer.booked}}</p>
  <p><strong>Full:</strong> {{ path_offer.full}}</p>
  <p><strong>Price:</strong> {{ path_offer.price}}</p>
  <p><strong>Max Available:</strong> {{path_offer.max_available}}</p>

  {% endblock %}