{% extends "base_generic.html" %}

{% block content %}
  <h1>Departure: {{ path_offer.departure}}</h1>
  <p><strong>Arrive:</strong>{{ path_offer.arrive}}</p>
  <p><strong>Date of departure:</strong> {{ path_offer.data_partenza}}</p>
  <p><strong>Date of arrive:</strong> {{ path_offer.data_arrivo}}</p>
  <p><strong>Departure's time:</strong> {{path_offer.ora_partenza}}</p>
  <p><strong>Arrive's time:</strong> {{path_offer.ora_arrivo}}</p>
<p><strong>Booked:</strong>{{ path_offer.booked}}</p>
  <p><strong>Full:</strong> {{ path_offer.full}}</p>
  <p><strong>Price:</strong> {{ path_offer.price}}</p>
  <p><strong>Max Available:</strong> {{path_offer.max_available}}</p>
<a href="{% url 'user-detail' path_offer.user.pk %}">{{ path_offer.user_id}}</a>
<a href="{% url 'vehicle-detail' path_offer.vehicle.pk %}">{{ path_offer.vehicle_id}}</a>
{% for feedback in path_offer.feedback_set.all %}
  <p><strong>Scores:</strong>{{ feedback.scores}}</p>
  <p><strong>Feedback:</strong> {{feedback.feedback}}</p>
  <p><strong>Title:</strong> {{ feedback.title}}</p>
  <a href="{% url 'user-detail' feedback.user.pk %}">{{ feedback.user_id}}</a>
   {%endfor %}
  {% endblock %}